body {
  overflow: hidden;
  background-color: black;
}

.canvas-container {
  width: 100%;
  position: absolute;
  top: 12%;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 46px;
  font-family: 'ARCADECLASSIC';
  padding: 0 ;
  /* margin-top:100px; */
}

.robo-tapper-canvas {
  margin-left: auto;
  margin-right: auto;
/*background-image: url("assets/.png");*/
  background-size: cover;
  min-height: 600px;
}

.button-container {
  position:relative;
  width: 94%;
  height:300px;
  margin-top:50px;
  margin-right:100px;
  }

  button {
  position:absolute;
  top:25%;
  left:40%;
  padding: 2px 0px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  border:none;
  outline:none;
  background: none;
  color:white ;
  font-family: 'ARCADECLASSIC';
  }

  #Controls{
  left:67.5%;
  }

  #Quit{
  top:60%;
  left:53.2%;
  }

  #BackButton{
    left:77%;
    top: 90%;
  }

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'ARCADECLASSIC';
    src: local('assets/ARCADECLASSIC.TTF'); /* IE9 Compat Modes */
    src: url('assets/ARCADECLASSIC.TTF'); /* IE9 Compat Modes */
    src: local('assets/ARCADECLASSIC.TTF') format('embedded-opentype'), /* IE6-IE8 */
    local('assets/ARCADECLASSIC.TTF') format('woff2'), /* Super Modern Browsers */
    local('assets/ARCADECLASSIC.TTF') format('woff'), /* Pretty Modern Browsers */
    local('assets/ARCADECLASSIC.TTF')  format('truetype'), /* Safari, Android, iOS */
    local('assets/ARCADECLASSIC.TTF') format('svg'); /* Legacy iOS */
}

