body {
  overflow: hidden;
  background-color: black;
}

.canvas-container {
  width: 100%;
  position: absolute;
  top: 12%;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 46px;
  font-family: 'ARCADECLASSIC';
  padding: 0 ;
  margin: 0;
}

.robo-tapper-canvas {
  margin-left: auto;
  margin-right: auto;
  background-image: url("assets/.png");
  background-size: cover;
  min-height: 600px;
}

.button-container {
  position:relative;
  width: 94%;
  height:300px;
  margin-top:350px;
  margin-right:100px;
  }

  button {
  position:absolute;
  top:25%;
  left:40%;
  padding: 2px 0px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  border:none;
  outline:none;
  background: none;
  color:white;
  font-family: 'ARCADECLASSIC';
  }

  #Controls{
  left:67%;
  }

  #Quit{
  top:60%;
  left:52%;
  }

/*.button-container {
  margin: auto;
  width: 100%;
  height:300px;
  border: 1px dotted blue;
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  font-size: 26px;
  font-family: 'ARCADECLASSIC';
  justify-content: center;
  padding: 100px 2px;
  border: 10px dotted green;
  background-color: blue;
  color:white;
}*/

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'ARCADECLASSIC';
    src: local('assets/ARCADECLASSIC.TTF'); /* IE9 Compat Modes */
    src: url('assets/ARCADECLASSIC.TTF'); /* IE9 Compat Modes */
    src: local('assets/ARCADECLASSIC.TTF') format('embedded-opentype'), /* IE6-IE8 */
    local('assets/ARCADECLASSIC.TTF') format('woff2'), /* Super Modern Browsers */
    local('assets/ARCADECLASSIC.TTF') format('woff'), /* Pretty Modern Browsers */
    local('assets/ARCADECLASSIC.TTF')  format('truetype'), /* Safari, Android, iOS */
    local('assets/ARCADECLASSIC.TTF') format('svg'); /* Legacy iOS */
}

